.profil-card {
  background: #111;
  color: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 70px;
  top: 70px;
  z-index: 200;
}

.profil-card > div{
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Image profil */
.profil-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid blueviolet;
}

/* Nom */
.profil-card h3 {
  font-size: 1.2rem;
}

/* Username */
.profil-card p {
  color: #aaa;
  font-size: 0.9rem;
}

/* Bouton settings */
.settings-btn {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s, transform 0.3s;
}

.settings-btn:hover {
  background: blueviolet;
  transform: rotate(45deg);
}
