*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Rubik", sans-serif;
  background-color: #121212;
  color: white;
}

button, input, textarea, select {
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
}
button{
  cursor: pointer;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
}
header img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
header button{
  background-color: transparent;
  border: 0;
  color: white;
}
header > div{
  display: flex;
  align-items: center;
  gap: 30px;
}
header i{
  font-size: 20px;
}
header .link{
  text-decoration: none;
  color: white;
  margin: 0px 5px;
}
.sidebar{
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar button{
  background-color: transparent;
  border: 0;
  padding: 5px;
  margin: 10px 0;
}
.sidebar .link{
  text-decoration: none;
  color: white;
}
.sidebar i{
  font-size: 20px;
}
.sidebar input{
  padding: 7px 10px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 20px;
  width: 300px;
}
.container-search{
  /* background-color: white; */
  display: flex;
  align-items: center;
}
.sidebar input:focus{
  outline: 0;
}
.movie-list{
  margin: 50px;
}
.movie-list  select{
  padding: 7px 10px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 20px;
  width: 200px; 
}
.movie-list  select:focus{
  outline: 0;
}
.movie-list h2{
  text-align: center;
}
.movie-list > div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
}

.movie-card {
  width: 260px;
  height: 360px;
  background: #111;
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/* Image */
.movie-card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

/* Titre */
.movie-card h3 {
  font-size: 1.4rem;
  padding: 10px;
  margin: 0;
  color: white;
  text-align: center;
  font-family: "Caesar Dressing", system-ui;
}

/* Détails */
.movie-details {
  padding: 0 10px 10px;
  font-size: 0.85rem;
  color: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
}

.movie-details p {
  margin: 4px 0;
}

/* Étoiles */
.movie-details i {
  color: gold;
  margin-right: 2px;
}

/* Labels */
.labels {
  display: flex;
  gap: 6px;
  margin-top: 8px;
  flex-wrap: wrap;
}

.label {
  background: blueviolet;
  color: white;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 0.7rem;
  text-transform: capitalize;
}

/* Bouton favori */
.movie-card button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 12px;
  right: 12px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.movie-card button:hover {
  background: blueviolet;
}
